4 COURSE/СТР Web-приложений/lab4/lab4.SoapService/Simplex.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://HAN/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="SimplexService"
             targetNamespace="http://HAN/">
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://HAN/">
			<element name="AddRequest">
				<complexType>
					<sequence>
						<element name="x" type="xsd:int"/>
						<element name="y" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>
			<element name="AddResponse">
				<complexType>
					<sequence>
						<element name="result" type="xsd:int"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="AddRequest">
		<part name="parameters" element="tns:AddRequest"/>
	</message>
	<message name="AddResponse">
		<part name="parameters" element="tns:AddResponse"/>
	</message>
	<portType name="SimplexPortType">
		<operation name="Add">
			<input message="tns:AddRequest"/>
			<output message="tns:AddResponse"/>
		</operation>
	</portType>
	<binding name="SimplexBinding" type="tns:SimplexPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Add">
			<soap:operation soapAction="http://HAN/Add"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="SimplexService">
		<port name="SimplexPort" binding="tns:SimplexBinding">
			<soap:address location="http://localhost/Simplex.asmx"/>
		</port>
	</service>
</definitions>
