4 COURSE/web-services/lab4/lab4.WebForm/Connected Services/ServiceReference1/Simplex.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://HAN/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://HAN/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Это SOAP-сервис для выполнения арифметических операций и обработки объектов</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://HAN/">
      <s:element name="AddMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddMethodResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="x" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="y" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConcatMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConcatMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConcatMethodResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumMethod">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a1" type="tns:A" />
            <s:element minOccurs="0" maxOccurs="1" name="a2" type="tns:A" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="A">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="k" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="f" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="SumMethodResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SumMethodResult" type="tns:A" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddMethodSoapIn">
    <wsdl:part name="parameters" element="tns:AddMethod" />
  </wsdl:message>
  <wsdl:message name="AddMethodSoapOut">
    <wsdl:part name="parameters" element="tns:AddMethodResponse" />
  </wsdl:message>
  <wsdl:message name="AddSSoapIn">
    <wsdl:part name="parameters" element="tns:AddS" />
  </wsdl:message>
  <wsdl:message name="AddSSoapOut">
    <wsdl:part name="parameters" element="tns:AddSResponse" />
  </wsdl:message>
  <wsdl:message name="ConcatMethodSoapIn">
    <wsdl:part name="parameters" element="tns:ConcatMethod" />
  </wsdl:message>
  <wsdl:message name="ConcatMethodSoapOut">
    <wsdl:part name="parameters" element="tns:ConcatMethodResponse" />
  </wsdl:message>
  <wsdl:message name="SumMethodSoapIn">
    <wsdl:part name="parameters" element="tns:SumMethod" />
  </wsdl:message>
  <wsdl:message name="SumMethodSoapOut">
    <wsdl:part name="parameters" element="tns:SumMethodResponse" />
  </wsdl:message>
  <wsdl:portType name="SimplexSoap">
    <wsdl:operation name="Add">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает сумму двух чисел</wsdl:documentation>
      <wsdl:input name="AddMethod" message="tns:AddMethodSoapIn" />
      <wsdl:output name="AddMethod" message="tns:AddMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает сумму двух чисел для AJAX запроса</wsdl:documentation>
      <wsdl:input message="tns:AddSSoapIn" />
      <wsdl:output message="tns:AddSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает конкатенацию строки и числа</wsdl:documentation>
      <wsdl:input name="ConcatMethod" message="tns:ConcatMethodSoapIn" />
      <wsdl:output name="ConcatMethod" message="tns:ConcatMethodSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Возвращает объект A</wsdl:documentation>
      <wsdl:input name="SumMethod" message="tns:SumMethodSoapIn" />
      <wsdl:output name="SumMethod" message="tns:SumMethodSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimplexSoap" type="tns:SimplexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://HAN/AddMethod" style="document" />
      <wsdl:input name="AddMethod">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddMethod">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddS">
      <soap:operation soapAction="http://HAN/AddS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap:operation soapAction="http://HAN/ConcatMethod" style="document" />
      <wsdl:input name="ConcatMethod">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConcatMethod">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://HAN/SumMethod" style="document" />
      <wsdl:input name="SumMethod">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SumMethod">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SimplexSoap12" type="tns:SimplexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://HAN/AddMethod" style="document" />
      <wsdl:input name="AddMethod">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddMethod">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddS">
      <soap12:operation soapAction="http://HAN/AddS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Concat">
      <soap12:operation soapAction="http://HAN/ConcatMethod" style="document" />
      <wsdl:input name="ConcatMethod">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ConcatMethod">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://HAN/SumMethod" style="document" />
      <wsdl:input name="SumMethod">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SumMethod">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Simplex">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Это SOAP-сервис для выполнения арифметических операций и обработки объектов</wsdl:documentation>
    <wsdl:port name="SimplexSoap" binding="tns:SimplexSoap">
      <soap:address location="http://localhost:16977/Services/Simplex.asmx" />
    </wsdl:port>
    <wsdl:port name="SimplexSoap12" binding="tns:SimplexSoap12">
      <soap12:address location="http://localhost:16977/Services/Simplex.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>